.swal2-container {
  z-index: 999999;
}

.w_b_box {
  margin: 20px 0;
}
.w_b_box *,
.w_b_box *:before,
.w_b_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.w_b_box .w_b_mp0 {
  margin: 0;
  padding: 0;
}
.w_b_box .w_b_h100 {
  height: 100%;
}
.w_b_bal {
  display: inline-block;
}
.w_b_bal p {
  margin: 0;
}
.w_b_db {
  display: block;
}
.w_b_flex {
  display: -webkit-flex;
  display: flex;
}
.w_b_col {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.w_b_jc_fe {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.w_b_jc_c {
  -webkit-justify-content: center;
  justify-content: center;
}
.w_b_jc_sb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.w_b_ai_c {
  -webkit-align-items: center;
  align-items: center;
}
.w_b_ai_fs {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.w_b_ai_fe {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.w_b_relative {
  position: relative;
}
.w_b_absolute {
  position: absolute;
}
.w_b_lh {
  line-height: 1.4;
}
.w_b_f_n {
  flex: none;
}
.w_b_oh {
  overflow: hidden;
}
.w_b_o_2 {
  -webkit-order: 2;
  order: 2;
}
.w_b_quote {
  word-wrap: break-word;
}
.w_b_name {
  font-size: 10px;
  font-weight: bold;
}
.w_b_mta {
  margin-top: auto;
}
.w_b_mra {
  margin-right: auto;
}
.w_b_mba {
  margin-bottom: auto;
}
.w_b_mla {
  margin-left: auto;
}
.w_b_ta_C {
  text-align: center;
}
.w_b_ta_R {
  text-align: right;
}
.w_b_w100 {
  width: 100%;
}
.w_b_z1 {
  z-index: 1;
}
.w_b_z2 {
  z-index: 2;
}
.w_b_size_S {
  width: 64px;
  height: 64px;
}
.w_b_size_M {
  width: 96px;
  height: 96px;
}
.w_b_size_L {
  width: 128px;
  height: 128px;
}
.w_b_ava_effect {
  z-index: 1;
}
.w_b_ava_img {
  object-fit: cover;
}
.w_b_radius {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.w_b_radius_3 {
  border-radius: 3%;
}
.w_b_radius_12 {
  border-radius: 12%;
}
.w_b_radius_20 {
  border-radius: 20%;
}
.w_b_bal:before,
.w_b_bal:after {
  content: '';
  position: absolute;
}
.w_b_shadow_L {
  box-shadow: 2px 2px 3px 0px #888888;
}
.w_b_shadow_R {
  box-shadow: -2px 2px 3px 0px #888888;
}
.w_b_border_L {
  border: 2px solid #dddddd;
}
.w_b_border_R {
  border: 2px solid #dddddd;
}
.w_b_ava_shadow_L {
  box-shadow: 2px 2px 3px 0px #888888;
}
.w_b_ava_shadow_R {
  box-shadow: -2px 2px 3px 0px #888888;
}
.w_b_flip_h {
  transform: scale(-1, 1);
}
.w_b_flip_v {
  transform: scale(1, -1);
}
.w_b_flip_hv {
  transform: scale(-1, -1);
}
.w_b_status_box {
  font-size: 12px;
  margin: 0 6px;
}
.w_b_line_up > * {
  width: auto;
  margin: 0;
}
.w_b_block_ed .w_b_ava_L {
  -webkit-order: 1;
  order: 1;
}
.w_b_block_ed .w_b_ava_R {
  -webkit-order: 3;
  order: 3;
}
.w_b_block_ed .w_b_bal_box {
  -webkit-order: 2;
  order: 2;
}
.w_b_block_ed .w_b_ava_img {
  cursor: default;
}
.w_b_block_ed .w_b_bal_wrap_L {
  -webkit-order: 1;
  order: 1;
}
.w_b_block_ed .w_b_bal_wrap_R {
  -webkit-order: 3;
  order: 3;
}
.w_b_block_ed .w_b_status_box {
  -webkit-order: 2;
  order: 2;
}
.w_b_block_ed .w_b_bal {
  min-width: 90px;
}
.w_b_block_ed .components-autocomplete {
  word-break: break-word;
}
.w_b_mb_32 {
  margin-bottom: 32px;
}
.w_b_annotation {
  border-top: 1px solid #e2e4e7;
  padding-top: 16px;
  margin-bottom: 16px;
}
.w_b_block_over > div,
.w_b_block_under > div {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.w_b_block_over .w_b_bal_box {
  -webkit-order: 0;
  order: 0;
}
.w_b_block_under .w_b_ava_R {
  -webkit-order: 0;
  order: 0;
}
.w_b_block_label_title {
  font-weight: bold;
}
.w_b_block_bal .block-editor-inner-blocks .block-editor-block-list__block {
  margin: 0;
}
.w_b_block_bal
  .block-editor-inner-blocks
  .block-editor-block-list__block
  p.block-editor-rich-text__editable {
  margin: 0;
}
.w_b_block_side_by_side .block-editor-inner-blocks .block-editor-block-list__layout {
  display: flex;
}
.w_b_block_side_by_side .block-editor-inner-blocks .block-editor-block-list__layout > * {
  margin: 0;
}
.w_b_block_side_by_side.space-between .block-editor-block-list__layout {
  justify-content: space-between;
}
.w_b_block_side_by_side.center .block-editor-block-list__layout {
  justify-content: center;
}
.w_b_block_side_by_side.flex-end .block-editor-block-list__layout {
  justify-content: flex-end;
}
.w_b_block_side_by_side.flex-start .block-editor-block-list__layout {
  justify-content: flex-start;
}
.w_b_block_side_by_side.flex-start .block-editor-block-list__layout {
  justify-content: flex-start;
}
.w_b_block_side_by_side.true .block-editor-block-list__layout {
  flex-wrap: wrap;
}
.w_b_block_side_by_side.reverse .block-editor-block-list__layout {
  flex-wrap: wrap-reverse;
}
.w_b_block_out_innerblocks_mode {
  color: #9e9e9e;
  pointer-events: 'none';
}
.w_b_block_out_innerblocks_mode .components-form-toggle .components-form-toggle__track {
  background: #9e9e9e;
  cursor: not-allowed;
}
.w_b_block_out_innerblocks_mode label,
.w_b_block_out_innerblocks_mode .components-form-toggle__input {
  cursor: not-allowed;
}
.w_b_avatar_active_position_L .w_b_avatar_position_L {
  fill: #007cba;
}
.w_b_avatar_active_position_R .w_b_avatar_position_R {
  fill: #007cba;
}
#w_b_avatar_position_arrows_div .w_b_avatar_position_R {
  margin-left: 8px;
  transform: rotate(180deg);
}
#w_b_avatar_position_arrows_div label {
  margin-right: auto;
}
#w_b_avatar_position_arrows_div svg {
  cursor: pointer;
}
.w_b_icon_position_arrows_div div:nth-child(3n + 2) {
  margin-left: 8px;
  margin-right: 8px;
}
.w_b_icon_position_arrows_div {
  margin-bottom: 24px;
  line-height: 0;
  width: 138px;
  margin-left: auto;
  justify-content: flex-end;
}
.w_b_icon_position_arrows_div > div {
  margin: 2px;
}
.w_b_icon_position_arrows_div svg {
  cursor: pointer;
}
.w_b_icon_position_top_left {
  transform: rotate(45deg);
}
.w_b_icon_position_top_center {
  transform: rotate(90deg);
}
.w_b_icon_position_top_right {
  transform: rotate(135deg);
}
.w_b_icon_position_center_right {
  transform: rotate(180deg);
}
.w_b_icon_position_bottom_right {
  transform: rotate(225deg);
}
.w_b_icon_position_bottom_center {
  transform: rotate(270deg);
}
.w_b_icon_position_bottom_left {
  transform: rotate(315deg);
}
.w_b_icon_active_position.active {
  fill: #007cba;
}
.w_b_size_option_wrap {
  margin-bottom: 20px;
}
.w_b_size_option_wrap div:first-child {
  margin-left: auto;
  border-radius: 6px 0 0 6px;
}
.w_b_size_option_wrap div:last-child {
  border-radius: 0 6px 6px 0;
}
.w_b_size_option {
  font-size: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #fafafa;
  border-bottom-width: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.w_b_size_option.active,
.w_b_size_option:hover {
  background: #007cba;
  border-color: #007cba;
  border-bottom-color: #003753;
  color: #fff;
}
.w_b_bal_box.w_b_outview:not(.w_b_inview_solo):not(.w_b_inview_unset) {
  opacity: 0;
  transition: all 500ms;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.w_b_bal_box.w_b_outview:not(.w_b_inview_solo):not(.w_b_inview_unset).w_b_direction_R {
  overflow: hidden;
  transform: translate(100%, 0);
}
.w_b_bal_box.w_b_outview:not(.w_b_inview_solo):not(.w_b_inview_unset).w_b_direction_L {
  transform: translate(-100%, 0);
}
.w_b_bal_box.w_b_outview:not(.w_b_inview_solo):not(.w_b_inview_unset).w_b_direction_O {
  transform: translate(0, 100%);
}
.w_b_bal_box.w_b_outview:not(.w_b_inview_solo):not(.w_b_inview_unset).w_b_direction_U {
  transform: translate(0, -100%);
}
.w_b_bal_box.w_b_inclass.w_b_inview:not(.w_b_inview_solo):not(.w_b_inview_unset) {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms;
}
.w_b_bal_box.w_b_inclass.w_b_inview:not(.w_b_inview_solo):not(.w_b_inview_unset).w_b_direction_R {
  overflow: visible;
}
.w_b_box {
  margin: 20px 0;
}
.w_b_box *,
.w_b_box *:before,
.w_b_box *:after {
  box-sizing: border-box;
}
.w_b_box .w_b_mp0 {
  margin: 0;
  padding: 0;
}
.w_b_bal {
  display: inline-block;
}
.w_b_bal p {
  margin: 0;
}
.w_b_db {
  display: block;
}
.w_b_flex {
  display: flex;
}
.w_b_col {
  flex-direction: column;
}
.w_b_jc_fe {
  justify-content: flex-end;
}
.w_b_jc_c {
  justify-content: center;
}
.w_b_jc_sb {
  justify-content: space-between;
}
.w_b_ai_c {
  align-items: center;
}
.w_b_ai_fs {
  align-items: flex-start;
}
.w_b_ai_fe {
  align-items: flex-end;
}
.w_b_relative {
  position: relative;
}
.w_b_f_n {
  flex: none;
}
.w_b_oh {
  overflow: hidden;
}
.w_b_o_2 {
  order: 2;
}
.w_b_ava_box {
  z-index: 3;
}
.w_b_quote {
  word-wrap: break-word;
}
.w_b_name {
  font-size: 10px;
  font-weight: bold;
}
.w_b_mta {
  margin-top: auto;
}
.w_b_mla {
  margin-left: auto;
}
.w_b_mra {
  margin-right: auto;
}
.w_b_ta_C {
  text-align: center;
}
.w_b_ta_R {
  text-align: right;
}
.w_b_w100 {
  width: 100%;
}
.w_b_size_S {
  width: 64px;
  height: 64px;
}
.w_b_size_M {
  width: 96px;
  height: 96px;
}
.w_b_size_L {
  width: 128px;
  height: 128px;
}
.w_b_ava_img {
  object-fit: cover;
}
.w_b_radius {
  border-radius: 50%;
}
.w_b_radius_3 {
  border-radius: 3%;
}
.w_b_radius_12 {
  border-radius: 12%;
}
.w_b_radius_20 {
  border-radius: 20%;
}
.w_b_bal:before,
.w_b_bal:after {
  content: '';
  position: absolute;
}
.w_b_shadow_L {
  box-shadow: -2px 2px 3px 0px #888888;
}
.w_b_shadow_R {
  box-shadow: -2px 2px 3px 0px #888888;
}
.w_b_border_L {
  border: 2px solid #dddddd;
}
.w_b_border_R {
  border: 2px solid #dddddd;
}
.w_b_ava_shadow_L {
  box-shadow: 2px 2px 3px 0px #888888;
}
.w_b_ava_shadow_R {
  box-shadow: -2px 2px 3px 0px #888888;
}
.w_b_flip_h {
  transform: scale(-1, 1);
}
.w_b_flip_v {
  transform: scale(1, -1);
}
.w_b_flip_hv {
  transform: scale(-1, -1);
}
.w_b_status_box {
  font-size: 12px;
  line-height: 1.2;
  margin: 0 6px;
}
.w_b_status {
  height: 100%;
}
.w_b_line_up > * {
  width: auto;
}
.w_b_talk {
  padding: 10px;
  min-height: 45px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.w_b_talk:before {
  top: 18px;
  border: 6px solid transparent;
}
.w_b_talk:after {
  top: 19px;
  border: 5px solid transparent;
}
.w_b_talk_L {
  border: 1px solid #dddddd;
  background: #ffffff;
  margin: 0 auto 0 10px;
  color: #222222;
}
.w_b_talk_L:before {
  border-top-color: #dddddd;
  border-right-color: #dddddd;
  left: -12px;
}
.w_b_talk_L:after {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  left: -10px;
}
.w_b_talk_R {
  border: 1px solid #dddddd;
  background: #ffffff;
  margin: 0 10px 0 auto;
  color: #222222;
}
.w_b_talk_R:before {
  border-top-color: #dddddd;
  border-left-color: #dddddd;
  right: -12px;
}
.w_b_talk_R:after {
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  right: -10px;
}
.w_b_think {
  padding: 15px;
  -webkit-border-radius: 34px;
  border-radius: 34px;
  z-index: 4;
}
.w_b_think:before {
  height: 12px;
  width: 18px;
  bottom: -10px;
}
.w_b_think:after {
  height: 8px;
  width: 12px;
  bottom: -17px;
}
.w_b_think:before,
.w_b_think:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.w_b_think_L {
  border: solid 1px #dddddd;
  background: #ffffff;
  margin: 0 auto 0 0;
  color: #222222;
}
.w_b_think_L:before {
  left: 45px;
}
.w_b_think_L:after {
  left: 35px;
}
.w_b_think_L:before,
.w_b_think_L:after {
  border: solid 1px #dddddd;
  background: #ffffff;
}
.w_b_think_R {
  border: solid 1px #dddddd;
  background: #ffffff;
  margin: 0 0 0 auto;
  color: #222222;
}
.w_b_think_R:before {
  right: 45px;
}
.w_b_think_R:after {
  right: 35px;
}
.w_b_think_R:before,
.w_b_think_R:after {
  border: solid 1px #dddddd;
  background: #ffffff;
}
